@import url("https://fonts.googleapis.com/css2?family=Anton:wght@100;200;300;400;500;600;700&family=Barlow:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* ---- Navbar ---- */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler,
.navbar-light {
  border: hidden;
}

.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #e7e7e7e3;
}

.navbar-brand {
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

.nav-link {
  font-family: "Barlow", sans-serif;
}

/* ---- About ---- */
.about-container {
  background-image: url(../images/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 100vh;
}

.about-square h1 {
  font-weight: 600;
  font-family: "Anton", sans-serif;
  color: #e7e7e7;
  text-shadow: 5px 10px 15px #314c74;
  text-align: center;
  margin-bottom: 1vh;
  padding: 15vh 2vw 0 2vw;
}

.about-square {
  width: 100%;
  margin: auto;

  margin-top: 49px;
}

.block-divider {
  background-color: #e45200;
  width: 20%;
  height: 5px;
  margin: 5vh auto;
  box-shadow: 5px 10px 15px #314c74;
}

.about-hello {
  text-align: center;
  font-family: "Barlow", sans-serif;
  color: rgb(48, 48, 48);
  font-size: 36px;
  padding: 0.8vh 0;
  margin: 0;
}

.about-hello-position {
  letter-spacing: 2px;
  font-weight: 600;
}

.about-hello-iam {
  text-align: center;
  font-weight: 500;
}

/* ---- Background ---- */

.background-container {
  position: relative;
}

.background h2,
.skills h2,
.portfolio h2 {
  text-align: center;
  padding: 35px 0;
  color: #e45200;
  font-weight: 600;
}

hr.section-divider-orange {
  background-color: #e45200;
  height: 5px;
  border: none;
  width: 38px;
  margin-bottom: 40px;
}

p.year,
p.qualification {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 12px;
}
p.istitute {
  font-size: 15px;
  font-weight: 300;
}

#background-point {
  padding-top: 49px;
  margin-top: -49px;
}
/* ---- Skills / Experiences ---- */

.skills h3,
.skills h4,
.skills h5 {
  color: #e45200;
}

.skills h3 {
  font-weight: 600;
}

.skills p {
  color: rgb(48, 48, 48);
}

.card-logo {
  color: #e45200;
  font-size: 25px;
  margin: 0px 0px 10px 0px;
}

.col-margin {
  margin-bottom: 15px;
}

.col-margin-max {
  margin-bottom: 89px;
}


.card-skills {
  margin-top: 15px;
}

#experiences-point {
  padding-top: 49px;
  margin-top: -49px;
}
/* ---- Portfolio ---- */

.portfolio-container {
  background-color: #e7e7e7;
}

#portfolio-point {
  padding-top: 49px;
  margin-top: -49px;
}

.card-link {
  position: relative;
}

.media-card i {
  margin: 0;
  padding: 0;
}

a.media-card {
  position: absolute;
  font-size: 43px;
  margin: 0;
  top: -14px;
  right: 0;
  display: block;
}

.btn-work-progress {
  margin: 0;
}

/* ---- Contact ---- */

.contact-container {
  background-image: url(../images/vortice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact h2 {
  text-align: center;
  padding: 35px 0;
  color: #e7e7e7;
  font-weight: 600;
}

.section-divider-white {
  background-color: #e7e7e7;
  height: 5px;
  border: none;
  width: 38px;
  margin-bottom: 40px;
}

form {
  max-width: 500px;
  left: 50%;
  margin: auto;
}

.cell,
.button {
  width: 100%;
  padding: 6px;
  margin: 0 0 15px 0;
  resize: vertical;
  border: 1px solid #e7e7e780;
  border-radius: 6px;
}

.cell {
  width: 100%;
  background-color: #e7e7e721;
}

.button {
  margin: 18px 0 50px 0;
  width: 200px;
  color: #a13b00;
  font-weight: 700;
  letter-spacing: 1px;
  background-color: #95b4ceaf;
}

.cell:hover,
.button:hover {
  border-color: #e45200;
}

label {
  color: #e7e7e7;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact-point {
  padding-top: 49px;
  margin-top: -49px;
}
/* ---- Footer ---- */

footer {
  background: linear-gradient(to right, #5382ad, #6e53ad);
  box-shadow: inset 0px 5px 8px #0000007c;
}

.personal-info,
.social-media {
  margin: 0;
  padding: 8px;
  color: #e7e7e7;
}

.personal-info p {
  margin-bottom: 6px;
}

.social-media i {
  font-size: 38px;
  margin: 10px 20px 10px 0;
  transition: transform 0.2s;
}

a.footer-logo {
  text-decoration: none;
  color: #e7e7e7;
  font-size: 38px;
}

.zoom:hover {
  transform: scale(
    1.2
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* ---- Media Queries ---- */

@media only screen and (orientation: landscape) {
  .about-square h1 {
    font-size: 15vmin;
    color: #e7e7e7;
  }
}

@media only screen and (orientation: portrait) {
  .about-square h1 {
    font-size: 17vmin;
    color: #e7e7e7;
  }
}

@media screen and (max-width: 900px) {
  .about-hello {
    font-size: 22px;
  }
}
