@import url("https://fonts.googleapis.com/css2?family=Anton:wght@100;200;300;400;500;600;700&family=Barlow:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

/* ----------------------- Navbar */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler,
.navbar-light {
  border: hidden;
}

.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background-color: #e7e7e7e3;
}

.navbar-brand {
  font-family: "Barlow", sans-serif;
  letter-spacing: 1px;
}

.nav-link {
  font-family: "Barlow", sans-serif;
}

/* ----------------------- About */
.about-container {
  background-color: #e7e7e7;

  min-height: 100vh;
}

.about-square h1 {
  font-weight: 600;
  font-family: "Anton", sans-serif;
  font-size: 80px;
  color: #e7e7e7;
}

.about-square {
  width: 100%;
  margin: auto;
  background-image: linear-gradient(#6e53ad, #5382ad);
  margin-top: 98px;
  height: 71vh;
  max-width: 470px;
}

.line-one {
  text-align: left;
  position: relative;
  left: -2px;
  padding: 9vh 0 3vh 0;
}

.line-two {
  text-align: right;
  padding: 3vh 0 9vh 0;
}

.block-divider {
  background-color: #e45200;
  width: 40%;
  height: 5px;
  margin: 1vh auto;
}

.about-hello {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 2px 10px;
  margin: 0;
}

.about-hello-position {
  position: absolute;
  bottom: 0;
  letter-spacing: 2px;
}

.about-hello-iam {
  text-align: center;
  margin-top: 8px;
}

/* ----------------------- Background */

.background-container {
  position: relative;
}

.background h2,
.skills h2, 
.portfolio h2 {
  text-align: center;
  margin: 35px 0;
  color: #e45200;
  font-weight: 600;
}

hr.section-divider-orange {
  background-color: #e45200;
  height: 5px;
  border: none;
  width: 38px;
  margin-bottom: 40px;
}

p.year,
p.qualification {
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 12px;
}
p.istitute {
  font-size: 15px;
  font-weight: 300;
}

/* ----------------------- Skills */

.skills h3,
.skills h4,
.skills h5 {
  color: #e45200;
}

.skills h3 {
  font-weight: 600;
}

.skills p {
  color: rgb(48, 48, 48);
}

.card-logo {
  text-align: right;
  color: #e45200;
  font-size: 25px;
  margin: 0px 8px 10px 0px;
}

.col-margin {
  margin-bottom: 15px;
}

.col-margin-max {
  margin-bottom: 40px;
}

.card-skills {
  margin-top: 15px;
}

/* ----------------------- Portfolio */

.portfolio-container {
    background-color: #e7e7e7;
}
 .media-card {
     font-size: 25px;
     padding-right: 10px
 }


/* ----------------------- Contact */

.contact-container {
    background-image: url(../images/vortice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contact h2 {
  text-align: center;
  margin: 35px 0;
  color: #e7e7e7;
  font-weight: 600;
}

.section-divider-white {
  background-color: #e7e7e7;
  height: 5px;
  border: none;
  width: 38px;
  margin-bottom: 40px;
}


form {
    max-width: 500px;
    left: 50%;
    margin: auto;
   
}

.cell, .button {
  
  width: 100%;
  padding: 6px;
  margin: 0 0 15px 0;
  resize: vertical;
    border: 1px solid  #e7e7e780;
  border-radius: 6px;
}

.cell {
    width: 100%;
    background-color: #e7e7e721;
}

.button {
    margin: 18px 0 50px 0;
    width: 200px;
    color: #a13b00;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #95b4ceaf;
 }

.cell:hover, .button:hover {
    border-color:  #e45200;
}

label {
    color: #e7e7e7;
    font-weight: 500;
    margin-bottom: 5px
}



/* ----------------------- Footer */

footer {
    background: linear-gradient(to right, #5382ad, #6e53ad)
}

.personal-info, .social-media {
    margin: 0;
    padding:15px;
    color: #e7e7e7;
}
.personal-info {
    min-width: 245px;
}

.personal-info p {
    
    margin-bottom: 6px;
}

.social-media i {
    font-size: 40px;
    margin: 10px 20px 10px 0;
}


/* ----------------------- XXX */

@media (max-width: 370px) {
  .about-square {
    margin-top: 64px;
  }

  .about-square h1 {
    font-family: "Anton", sans-serif;
    font-size: 50px;
  }
}
